body {
    font-family: 'Arial', sans-serif;
    background-image: url('DCFitness.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #fff;

.container {
    max-width: 600px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #e904b7cb;
    text-align: center;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #e904b7cb;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}

#shuffleBtn {
    width: 30px; /* Ajusta según el tamaño deseado del botón */
    height: 30px; /* Ajusta según el tamaño deseado del botón */
    background-image: url('icons/random\ \(white\).png'); /* Ajusta el nombre del ícono shuffle */
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px; /* Ajusta según el margen deseado alrededor del ícono */
}

#copyBtn {
    width: 30px; /* Ajusta según el tamaño deseado del botón */
    height: 30px; /* Ajusta según el tamaño deseado del botón */
    background-image: url('icons/copy\ \(white\).png'); /* Ajusta el nombre del ícono shuffle */
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px; /* Ajusta según el margen deseado alrededor del ícono */
}
